autopep8
autopep8
ipykernel
wheel
#
graphviz
torch>=1.9.0
numpy>=1.17
# click
# dataclasses-json
# flet
# gremlinpython
# matplotlib
# openai
# openai-async
# qdrant-client
# rdflib
# requests
# rich
# sentence-transformers
# strawberry-graphql[debug-server]
# textual[dev]
